<div class="container pt-3">
    <div style="overflow:hidden;text-overflow: ellipsis">
        <p>
            <em><strong>Kamen Rider Black RX</strong></em> (仮面ライダーBLACK RX, Kamen Raidā Burakku Āru Ekkusu,
            Masked
            Rider
            Black RX) is a Japanese tokusatsu drama and the ninth installment of the Kamen Rider Series.
            Debuting as
            the
            9th and final entry of the Showa Era, it serves as a direct sequel to Kamen Rider Black and aired
            from
            October 23, 1988 to September 24, 1989 on the Mainichi Broadcasting System and the Tokyo
            Broadcasting
            System. The 47-episode series was a joint collaboration between Ishimori Productions and Toei
            Company.
            The
            show aired in Indonesia under the title Ksatria Baja Hitam RX. The show aired in Hong Kong under the
            title
            幪面超人RX.
        </p>
        <p>
            The series was adapted by Saban in North America as Saban's Masked Rider in an attempt to integrate
            its
            universe with the Power Rangers series.
        </p>
        <h5>Top Cast</h5>
        <ul>
            <li>Tetsuo Kurata as Kamen Rider Black Rx / Kotaro Minami</li>
            <li>Masanori Jisen as Century King Shadow Moon / Nobuhiko Akizuki</li>
            <li>Seizō Katō and Hidekatsu Shibata as General Jark</li>
        </ul>
        <h5>References</h5>
        <ul>
            <li><a href="https://kamenrider.fandom.com/wiki/Kamen_Rider_Black_RX" target="_blank">https://kamenrider.fandom.com/wiki/Kamen_Rider_Black_RX</a>
            </li>
            <li><a href="https://kissasian.li/Drama/Kamen-Rider-Black-RX" target="_blank">https://kissasian.li/Drama/Kamen-Rider-Black-RX</a>
            </li>
        </ul>
    </div>
</div>