<footer>
    <div class="container py-5 text-center">
        <div class="row py-lg-5">
            <span>Powered by <a href="https://inihaw.co/">Inihaw Limited</a></span>
            <div>© CTTO. All rights reserved.</div>
        </div>
    </div>
</footer>