<div style="position:relative">
    <button id="goto-top" title="Go to top" class="btn btn-light shadow">
        <div class="d-flex flex-column"><i class="fa-solid fa-chevron-up"></i>
            <div><h6 class="my-tertiary-text">Top</h6></div>
        </div>
    </button>
</div>