<div id="hero-banner">
    <div class="container">
        <div class="d-flex">
            <div id="image-cover" class="shadow">
                <img src="/images/cover.jpg" alt="">
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <h1>Kamen Rider Black RX</h1>
                        <h6>TV Mini Series<span class="the-dot">1988–1989</span><span class="the-dot">TV-PG</span><span
                                class="the-dot">25m</span></h6>
                        <p>Half a year after the downfall of Gorgom, Kotaro Minami has gotten a job of a helicopter
                            pilot
                            in a
                            business owned by the Sahara family. Kotaro is later captured by the Crisis Empire and
                            offered a
                            place
                            in their group. When Kotaro refused, his King Stone was shattered and he was thrown into
                            space
                            where
                            the
                            sun's radiation mutated his King Stone and he mutated into Kamen Rider Black RX. With his
                            new
                            powers, he
                            battles the Crisis Empire and thwarts their plans to take over Earth.</p>
                        <div id="rating">
                            <div class="pt-1 pb-1">
                                <a href="https://www.imdb.com/title/tt0151178/" target="_blank"><h5><img
                                        src="/images/imdb_logo.png"
                                        style="height:25px;padding-right:10px;"><i
                                        class="fa fa-star"
                                        aria-hidden="true"></i>
                                    8.2 / 10</h5></a>
                            </div>
                        </div>
                        <div id="hero-buttons" class="d-flex flex-row">
                            <div id="play" class="pt-1 pe-3">
                                <a href="/episode/01" class="btn btn-light pt-3 ps-5 pb-3 pe-5"><h5><i
                                        class="fa fa-play"
                                        aria-hidden="true"></i>
                                    Play</h5></a>
                            </div>
                            <div id="add-to-watchlist" class="pt-1">
                                <a href="#" class="btn btn-light pt-3 ps-5 pb-3 pe-5"><h5><i class="fa fa-plus-circle"
                                                                                             aria-hidden="true"></i> Add
                                    to
                                    Watchlist</h5></a>
                            </div>
                            <div id="plus-watchlist" class="pt-1">
                                <a href="#" class="nav-link pt-3 ps-5 pb-3 pe-5"><h5><i class="fa fa-plus" aria-hidden="true"></i></i> Watchlist</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>