<div class="container">
    <nav id="navbar-tab" class="navbar navbar-expand-lg navbar-dark bg-dark"
         style="--bs-bg-opacity: 0;">
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="border-bottom: 1px white solid;">
            <ul class="navbar-nav">
                <div class="pe-5">
                    <li id="episodes-tab-nav-item" class="nav-item active navbar-tab-active">
                        <button id="episodes-tab-link" class="nav-link btn btn-link ps-0 pe-0" href="#"><h3>
                            EPISODES</h3></button>
                    </li>
                </div>
                <div class="pe-5">
                    <li id="suggested-tab-nav-item" class="nav-item">
                        <button id="suggested-tab-link" class="nav-link btn btn-link ps-0 pe-0" href="#"><h3>
                            SUGGESTED</h3></button>
                    </li>
                </div>
                <div class="pe-5">
                    <li id="details-tab-nav-item" class="nav-item">
                        <button id="details-tab-link" class="nav-link btn btn-link ps-0 pe-0" href="#"><h3>DETAILS</h3>
                        </button>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</div>