<div class="container" style="margin-top:calc(25px - 0.5rem)">
    <div id="seasons-sff-dropdown" class="dropdown">
        <button id="dropdownMenuButton" class="btn btn-light btn-lg dropdown-toggle my-secondary-text text-center pt-3 pb-3 w-100" type="button"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                style="font-weight:500">
            Season 1
        </button>
        <div class="dropdown-menu text-center w-100" aria-labelledby="dropdownMenuButton">
            {{#each show.seasons}}
                <button class="dropdown-item{{#ifEquals this "Season 1"}} active{{/ifEquals}}"><h4 class="my-secondary-text mb-0 pt-1 pb-1">{{this}}</h4></button>
            {{/each}}
        </div>
    </div>
</div>