<div class="container mt-2">
    <div id="seasons-sff-dropdown" class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Season 01
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button id="s1-dropdown-item" class="dropdown-item active">Season 01</button>
            <button id="s2-dropdown-item" class="dropdown-item">Season 02</button>
            <button id="s3-dropdown-item" class="dropdown-item">Season 03</button>
            <button id="sf-dropdown-item" class="dropdown-item">Season Finale</button>
        </div>
    </div>
</div>