<div class="container">
    <div id="seasons-sff-dropdown" class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Season 01
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a id="s1-dropdown-item" class="dropdown-item active" href="#">Season 01</a>
            <a id="s2-dropdown-item" class="dropdown-item" href="#">Season 02</a>
            <a id="s3-dropdown-item" class="dropdown-item" href="#">Season 03</a>
            <a id="sf-dropdown-item" class="dropdown-item" href="#">Season Finale</a>
        </div>
    </div>
</div>