<section class="py-5">
    {{>hero-banner}}
</section>
<section>
    {{>mid-navbar}}
</section>
<section id="episodes-section">
    {{>seasons-navbar}}
    {{>episodes-carousel}}
</section>
<section id="suggested-section">
    {{>suggestions}}
</section>
<section id="details-section">
    {{>details}}
</section>
