<section class="py-5">
    {{>hero-banner}}
</section>
<section>
    {{>mid-navbar}}
</section>
<section id="episodes-section">
    <div id="non-small-form-factor">
        {{>seasons-navbar}}
        {{>episodes-carousel}}
    </div>
    <div id="small-form-factor">
        {{>seasons-dropdown}}
        {{>episodes-small-form-factor}}
    </div>
</section>
<section id="suggested-section" style="display:none;">
    {{>suggestions}}
</section>
<section id="details-section" style="display:none;">
    {{>details}}
</section>
