/*body {*/
/*    background: url("/images/kamen_rider_black_rx_logo_by_mockingraffy_deibyqu.png"), linear-gradient(darkblue, black);*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-position: left top;*/
/*    background-size: cover;*/
/*}*/

/*#card {*/
/*    color: black;*/
/*}*/

body {
    background-color: black;
}

body, #bookmark-button {
    color: white;
}

#card-bookmark {
    position: absolute;
    color: white;
    top: 5px;
    right: 5px;
}

#card-play-button {
    position: absolute;
    color: white;
    top: 5.5rem;
    right: 9rem;
}

.card, .card-body {
    background-color: black;
    color: white;
}

#card-image:hover + h1 > #card-play-button {
    transform: scale(1.5);
    transition: transform 0.50s ease-in-out;
}

/* missing styles from bootstrap */

.mr-auto {
    margin-right: auto !important;
}

.navbar {
    padding: 0.5rem 1rem;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem!important;
}

.form-inline {
    display: flex;
    /*flex-flow: row wrap;*/
    align-items: center;
}