/*#foreground {*/
/*    padding-left: 50%;*/
/*    padding-right: 10%;*/
/*}*/

body {
    /*background: url("/images/kamen_rider_black_rx.png"), linear-gradient(black, darkgreen, black, black);*/
    background: linear-gradient(black, darkgreen, black, black);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
}

/*#background {*/
/*    background: url("/images/kamen_rider_black_rx_logo_by_mockingraffy_deibyqu_deviantart_resized.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: 10% 100px;*/
/*    !* Div container *!*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    z-index: -5;*/
/*}*/

#image-cover img {
    width: 100%;
}

a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: white;
    opacity: 0.80;
}

.the-dot::before {
    display: inline-block;
    margin: 0 0.5rem 0.2rem;
    content: "";
    font-size: 0.7em; /* h6 */
    padding: 1px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: white;
}

body, #bookmark-button {
    color: white;
}

#card-bookmark {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

#card-play-button {
    position: absolute;
    color: white;
    font-size: 2rem;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.25s ease;
}

#card-body {
    background-color: black;
    color: white;
    transition: transform 0.25s ease;
    height: 500px;
    overflow: hidden;
}

#episodes-tab-nav-item::after,
#suggested-tab-nav-item::after,
#details-tab-nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: white;
    transition: width 0.15s;
}

#episodes-tab-nav-item.navbar-tab-active::after,
#suggested-tab-nav-item.navbar-tab-active::after,
#details-tab-nav-item.navbar-tab-active::after {
    width: 100%;
}

#navbar-tab .nav-item:hover::after {
    width: 100%;
}

#navbar-tab a.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#card-image-container {
    position: relative;
    transition: border 0.25s ease;
}

#card-body:hover #card-image-container {
    border: 5px white solid;
}

#suggested-section img {
    width: 18rem;
    height: 13rem;
    object-fit: cover;
    transition: opacity 0.30s ease;
}

#suggested-section .card:hover img {
    opacity: 0.2;
}

#suggested-section .card {
    background-color: transparent;
    border: 1px white solid;
    cursor: pointer;
}

.my-card-title {
    width: 18rem;
    height: 13rem;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: white;
    transition: opacity 0.30s ease;
}

#suggested-section .card:hover .my-card-title {
    opacity: 1;
}

#suggested-section .card {
    transition: transform 0.30s ease;
}

#suggested-section .card:hover {
    transform: scale(1.1);
}

#card-body:hover {
    transform: scale(1.1);
}

#card-body:hover #card-play-button {
    opacity: 0.8;
}

#card-image {
    object-fit: cover;
    object-position: top;
}

#card-body {
    width: calc((90vw - 100px) / 5);
}

#card > div:nth-child(1),
#card > div:nth-child(2),
#card > div:nth-child(3),
#card > div:nth-child(4) {
    margin-right: 25px;
}

.my-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#video-container {
    position: relative;
}

#video-controls {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-image: linear-gradient(rgba(255, 255, 255, 0), black);
}

#video-controls:hover {
    opacity: 1;
}

#video-controls .btn {
    transition: transform 0.2s ease;
}

#volume-container:hover .btn,
#video-controls .btn:hover {
    color: white;
    transform: scale(1.3);
}

#video-progress-container {
    position: relative;
}

#video-progress-background {
    display: flex;
    height: 10px;
    background: white;
    opacity: 0.20;
    cursor: pointer;
}

#video-progress-filled {
    position: absolute;
    height: 10px;
    background: red;
    cursor: pointer;
    z-index: 10;
}

#video-progress-circle {
    position: absolute;
    border-radius: 50%;
    top: 13px;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    z-index: 15;
    transition: transform 0.2s ease;
}

#video-progress-circle:hover,
#video-progress-filled:hover + #video-progress-background + #video-progress-circle,
#video-progress-background:hover + #video-progress-circle {
    transform: scale(1.5);
}

/*#video-player {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

#video-container, #video-player {
    height: 100%;
    width: 100%;
}

#video-container .btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
}

#volume-slider {
    display: none;
}

#volume-container:hover #volume-slider {
    display: block;
}

#time h4 {
    margin: 0;
}

#video-outer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-slide-container {
    position: relative;
    cursor: pointer;
}

#loader-container {
    position: absolute;
    z-index: 10;
}

.hide {
    display: none !important;
}

/* Begin - https://loading.io/css/ */
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(2);
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* End - https://loading.io/css/ */

#video-track {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
}

#video-progress {
    width: 100%;
    height: 100%;
    background: red;
    transform-origin: 0;
}

#video-thumb {
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    top: -5px;
    border-radius: 50px;
    transform: translate(-50%);
}

#video-thumb-indicator {
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50px;
    transition: transform 0.2s ease;
}

#video-thumb-indicator:hover {
    transform: scale(1.5);
}

/* Override Bootstrap/Fontawesome styles */

.fa-star {
    color: #f3ce13; /* IMDb yellow */
}

.mr-auto {
    margin-right: auto !important;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

.form-inline {
    display: flex;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    width: 5% !important;
}

.nav-item.active > .nav-link {
    color: white !important;
}

.card-body {
    /*padding: 0 !important;*/
}

.btn:focus {
    box-shadow: none !important;
}

#seasons-navbar .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.carousel-inner {
    overflow: visible;
}