#foreground {
    width: 100%;
    height: 400px;
    padding-left: 45%;
    padding-right: 20%;
}

#background {
    background: url("/images/kamen_rider_black_rx_logo_by_mockingraffy_deibyqu_deviantart_resized.png"), linear-gradient(black, darkgreen, black);
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: -1;
    top: 70px;
}

body {
    background-color: black;
}

body, #bookmark-button {
    color: white;
}

#card-bookmark {
    position: absolute;
    color: white;
    top: 5px;
    right: 5px;
}

#card-play-button {
    position: absolute;
    color: white;
    top: 5.5rem;
    right: 9rem;
}

.card, .card-body {
    background-color: black;
    color: white;
}

.navbar-tab-active, #navbar-tab .nav-item:hover {
    border-bottom: 5px white solid;
}

#navbar-tab a.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#card-image:hover + h1 > #card-play-button {
    transform: scale(1.5);
    transition: transform 0.15s ease;
}

/* Override Bootstrap styles */

.mr-auto {
    margin-right: auto !important;
}

.navbar {
    padding: 0.5rem 1rem;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

.form-inline {
    display: flex;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    width: 3% !important;
}