:root {
    --cards-spacing: 25px;
    --my-primary-color: rgb(26, 29, 41);
    --my-secondary-color: rgb(9, 11, 19);
    --my-tertiary-color: rgb(31, 32, 43);
    --video-control-icon-size: 20px;
}

.my-primary-text {
    font-size: 20px !important;
}

.my-secondary-text {
    font-size: 15px !important;
}

.my-tertiary-text {
    font-size: 12px !important;
}

html, body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.background-show-01 {
    background: linear-gradient(black, darkgreen, black, black) fixed;
}

.background-show-02 {
    background: linear-gradient(black, darkblue, black, black) fixed;
}

.background-show-03,
.background-show-04,
.background-show-05,
.background-show-06 {
    background: linear-gradient(black, darkred, black, black) fixed;
}

.background-show-07 {
    background: linear-gradient(black, yellow, black, black) fixed;
}

#image-cover,
#image-cover img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: white;
    opacity: 0.80;
}

.the-dot::before {
    display: inline-block;
    margin: 0 0.5rem 0.2rem;
    content: "";
    font-size: 0.7em; /* h6 */
    padding: 1px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: white;
}

body, #bookmark-button {
    color: white;
}

#card-bookmark {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

#card-play-button {
    position: absolute;
    color: white;
    font-size: 2rem;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.my-play-pause-button-container {
    /*background: rgba(0, 0, 0, 0.2);*/
    /*border-radius: 55px;*/
    /*height: calc(var(--video-control-icon-size) * 4);*/
    /*width: calc(var(--video-control-icon-size) * 4);*/
    /*transition: transform 0.2s ease;*/
    margin: 20px;
}

.my-play-pause-button-container:hover {
    transform: scale(1.2);
}

#play-pause-button i {
    font-size: calc(var(--video-control-icon-size) * 2);
}

#card-body {
    /*background-color: var(--my-secondary-color);*/
    color: white;
    transition: transform 0.25s ease;
    z-index: 30;
}

#card-title-container {
    width: 100%;
}

#non-small-form-factor #card-text-container {
    height: calc(16px + 80px + 16px);
    overflow: hidden;
}

#episodes-tab-nav-item::after,
#suggested-tab-nav-item::after,
#details-tab-nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: white;
    transition: width 0.15s;
}

#episodes-tab-nav-item.navbar-tab-active::after,
#suggested-tab-nav-item.navbar-tab-active::after,
#details-tab-nav-item.navbar-tab-active::after {
    width: 100%;
}

#navbar-tab .nav-item:hover::after {
    width: 100%;
}

#navbar-tab a.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#card-image-container {
    position: relative;
    transition: border 0.25s ease;
    overflow: hidden;
    height: 150px;
}

#card-body:hover #card-image-container {
    border: 3px white solid;
}

#suggested-section img {
    width: 18rem;
    height: 13rem;
    object-fit: cover;
    transition: opacity 0.30s ease;
}

#suggested-section .card:hover img {
    opacity: 0.2;
}

#suggested-section .card {
    background-color: transparent;
    border: 1px white solid;
    cursor: pointer;
}

.my-card-title {
    width: 18rem;
    height: 13rem;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: white;
    transition: opacity 0.30s ease;
}

#suggested-section .card:hover .my-card-title {
    opacity: 1;
}

#suggested-section .card {
    transition: transform 0.30s ease;
}

#suggested-section .card:hover {
    transform: scale(1.1);
}

#card-body:hover {
    transform: scale(1.1);
}

#card-body:hover #card-play-button {
    opacity: 0.8;
}

#card-image {
    object-fit: cover;
    object-position: center;
}

#mid-navbar .navbar-nav {
    flex-direction: row !important;
}

@media screen and (max-width: 576px) {
    #all-shows-section .my-card .card {
        width: 160px !important;
    }

    #all-shows-section .my-card .card > div:first-child {
        height: 230px !important;
    }
}

/* Begin, From bootstrap _containers.scss */
@media screen and (min-width: 576px) {
    #non-small-form-factor #card-body {
        width: calc((540px - (0.75rem * 2) - (var(--cards-spacing) * 4)) / 5);
    }
}

@media screen and (min-width: 768px) {
    #non-small-form-factor #card-body {
        width: calc((720px - (0.75rem * 2) - (var(--cards-spacing) * 4)) / 5);
    }
}

@media screen and (min-width: 992px) {
    #brand-navbar-sff-container {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #brand-navbar-non-sff-container {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #non-small-form-factor #card-body {
        width: calc((960px - (0.75rem * 2) - (var(--cards-spacing) * 4)) / 5);
    }

    .carousel-control-prev {
        left: calc((100vw - 960px - 50px - (0.75rem * 2)) / 2);
    }

    .carousel-control-next {
        right: calc((100vw - 960px - 50px - (0.75rem * 2)) / 2);
    }
}

@media screen and (min-width: 1200px) {
    #non-small-form-factor #card-body {
        width: calc((1140px - (0.75rem * 2) - (var(--cards-spacing) * 4)) / 5);
    }

    .carousel-control-prev {
        left: calc((100vw - 1140px - 50px - (0.75rem * 2)) / 2);
    }

    .carousel-control-next {
        right: calc((100vw - 1140px - 50px - (0.75rem * 2)) / 2);
    }
}

@media screen and (min-width: 1400px) {
    #non-small-form-factor #card-body {
        width: calc((1320px - (0.75rem * 2) - (var(--cards-spacing) * 4)) / 5);
    }

    .carousel-control-prev {
        left: calc((100vw - 1320px - 50px - (0.75rem * 2)) / 2);
    }

    .carousel-control-next {
        right: calc((100vw - 1320px - 50px - (0.75rem * 2)) / 2);
    }
}

/* End, From bootstrap _containers.scss */

@media screen and (min-width: 1100px) {
    #non-small-form-factor {
        display: block;
    }

    #small-form-factor {
        display: none;
    }

    #small-form-factor #card-body {
        flex-direction: row;
    }

}

#logo-image {
    width: 500px;
}

#episode-layout-container .btn > h1,
#episode-layout-container .btn > h2,
#episode-layout-container .btn > h3,
#episode-layout-container .btn > h4,
#episode-layout-container .btn > h5,
#episode-layout-container .btn > h6 {
    color: white;
}

#episode-title-card {
    margin-right: 16px;
}

#episode-title-card a.btn {
    padding: 0 !important;
}

#episode-title-card img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

#hr-comments-other-episodes {
    display: none;
}

@media screen and (max-width: 1100px) {

    #episode-layout-container {
        flex-direction: column;
    }

    #other-episodes-col {
        width: 100%;
    }

    body {
        /*background: linear-gradient(45deg, var(--my-secondary-color), var(--my-primary-color), var(--my-secondary-color)) !important;*/
        background-position: top;
        background-attachment: scroll;
    }

    #non-small-form-factor {
        display: none;
    }

    #small-form-factor {
        display: block;
    }

    #add-to-watchlist {
        padding-top: 1rem;
    }

    #logo-image {
        width: 80%;
    }

    #hr-comments-other-episodes {
        display: block;
    }

    #mid-navbar .navbar-nav div:nth-child(1),
    #mid-navbar .navbar-nav div:nth-child(2),
    #mid-navbar .navbar-nav div:nth-child(3) {
        padding: 0 !important;
    }

    ul.navbar-nav {
        justify-content: space-between;
    }

    #small-form-factor #card-body {
        flex-direction: row;
    }

    #small-form-factor #card-image-container {
        width: 300px !important;
    }

    #small-form-factor #card-image-container > #card-image {
        width: 100%;
        height: 100%;
    }

    #hero-banner .d-flex {
        flex-direction: column;
        align-items: center;
    }

    #image-cover {
        width: 70%;
        margin: 1rem 0 !important;
    }

    section.py-5 {
        padding-top: 1.5rem !important;
    }

    /*#rating {*/
    /*    text-align: center;*/
    /*}*/
    #hero-buttons {
        flex-direction: column !important;
        justify-content: center;
    }

    #hero-buttons #play,
    #hero-buttons #play a,
    #hero-buttons #add-to-watchlist,
    #hero-buttons #add-to-watchlist a {
        width: 100%;
    }

    #hero-buttons #play {
        padding-right: 0 !important;
    }

    /*#navbar-tab .navbar-nav,*/
    /*#seasons-navbar .navbar-nav{*/
    /*    flex-direction: row;*/
    /*}*/
    /*#navbar-tab > div {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    align-items: center;*/
    /*}*/
    /*#episodes-tab-link, #suggested-tab-link, #details-tab-link {*/
    /*    margin: auto;*/
    /*}*/
    #suggested-section .d-flex {
        /*justify-content: center !important;*/
    }

    /*#show-summary {*/
    /*    padding: 0 !important;*/
    /*}*/
    #hero-section {
        margin-top: 30%;
    }

}

.seasons-sff-dropdown > .dropdown-toggle {
}

#card > div:nth-child(1),
#card > div:nth-child(2),
#card > div:nth-child(3),
#card > div:nth-child(4) {
    margin-right: var(--cards-spacing);
}

.my-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#video-container {
    position: relative;
}

#video-controls {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-image: linear-gradient(rgba(255, 255, 255, 0), black);
}

.opacity-1 {
    opacity: 1 !important;
}

#video-outer-container .btn {
    transition: transform 0.2s ease;
}

#volume-container {
    position: relative;
}

#volume-slider-container {
    opacity: 0;
    position: absolute;
    bottom: 100px;
    transform: rotate(270deg);
    padding: 5px;
    background: rgb(38, 38, 38);
    border-radius: 2px;
    transition: opacity 0.25s ease;
}

#volume-container:hover .btn,
#video-outer-container .btn:hover {
    color: white;
    transform: scale(1.3);
}

#video-progress-container {
    position: relative;
}

#video-progress-background {
    display: flex;
    height: 10px;
    background: white;
    opacity: 0.20;
    cursor: pointer;
}

#video-progress-filled {
    position: absolute;
    height: 10px;
    background: red;
    cursor: pointer;
    z-index: 10;
}

#video-progress-circle {
    position: absolute;
    border-radius: 50%;
    top: 13px;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    z-index: 15;
    transition: transform 0.2s ease;
}

#video-progress-circle:hover,
#video-progress-filled:hover + #video-progress-background + #video-progress-circle,
#video-progress-background:hover + #video-progress-circle {
    transform: scale(1.5);
}

#video-not-found-banner {
    position: absolute;
    display: none;
}

#video-player {
    height: 50vh;
    width: 100%;
}

#video-container {
    background: black;
    width: 100%;
}

.height-100pct {
    height: 100% !important;
}

#video-outer-container .btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: var(--video-control-icon-size);
}

#seek-10sec-forward-btn svg,
#seek-10sec-backward-btn svg {
    width: auto;
    height: calc(var(--video-control-icon-size) * 2);
}

/*#volume-slider {*/
/*    display: none;*/
/*}*/

#volume-container:hover #volume-slider-container {
    opacity: 1;
}

#volume-button-container {
    width: calc(29px + 24px);
}

#volume-icons-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

#volume-icons-container svg {
    width: auto;
    height: var(--video-control-icon-size);
}

#volume-icons-container svg path {
    fill: white;
}

.display-none {
    display: none !important;
}

.display-inline-block {
    display: inline-block;
}

#time h4 {
    margin: 0;
}

#video-outer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*cursor: pointer;*/
}

#video-slide-container {
    position: relative;
    cursor: pointer;
}

#loader-container {
    position: absolute;
    z-index: 10;
}

/*#video-outer-container:hover #video-controls,*/
/*#video-outer-container:hover #centre-video-controls-container {*/
/*    opacity: 1;*/
/*}*/

/*#video-outer-container:not(:hover) #video-controls,*/
/*#video-outer-container:not(:hover) #centre-video-controls-container {*/
/*    opacity: 0;*/
/*    transition: opacity 0.25s ease;*/
/*    transition-delay: 0.25s;*/
/*}*/

#centre-video-controls-container {
    opacity: 0;
    position: absolute;
    z-index: 20;
    transition: opacity 0.25s ease;
}

.hide {
    display: none !important;
}

/* Begin - https://loading.io/css/ */
.lds-spinner {
    /*color: official;*/
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* End - https://loading.io/css/ */

#video-track {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
}

#video-progress {
    width: 100%;
    height: 100%;
    background: red;
    transform-origin: 0;
}

#video-thumb {
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    top: calc(-1 * (15px - 10px));
    border-radius: 50px;
    transform: translate(-50%);
}

#video-thumb-indicator {
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50px;
    transition: transform 0.2s ease;
}

#video-thumb-indicator:hover {
    transform: scale(1.5);
}

#goto-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

#myBtn:hover {
    background-color: #555;
}

.my-line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

#top-navbar {
    background-image: linear-gradient(var(--my-secondary-color), rgba(255, 255, 255, 0));
}

#jumbotron-section {
    /*background-color: var(--my-secondary-color);*/
    /*background-position: center;*/
    /*color: black;*/
    width: 100%;
    height: 500px;
}

#categories-button-container .btn,
#jumbotron-section .btn {
    color: white;
    border-color: white;
}

#categories-button-container .btn.active,
#categories-button-container .btn:hover,
#jumbotron-section .btn:hover,
#jumbotron-section .btn-primary.active {
    background-color: white;
    color: var(--my-secondary-color);
}

#all-shows-section img {
    transition: transform 0.25s ease;
}

#all-shows-section a:hover img {
    border: 1px solid white;
    transform: scale(1.1);
}

/* Override Bootstrap/Fontawesome styles */

.fa-star {
    color: #f3ce13; /* IMDb yellow */
}

.mr-auto {
    margin-right: auto !important;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

.form-inline {
    display: flex;
    align-items: center;
}

.nav-item.active > .nav-link {
    color: white !important;
}

.card,
.card-body {
    background-color: var(--my-tertiary-color) !important;
}

.btn:focus {
    box-shadow: none !important;
}

#seasons-navbar .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.carousel-inner {
    overflow: visible;
}

.nav-link {
    cursor: pointer;
}

.card-img-top {
    height: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: auto !important;
    display: block !important;
    z-index: 100;
}