#foreground {
    width: 100%;
    height: 400px;
    padding-left: 45%;
    padding-right: 20%;
}

#background {
    background: url("/images/kamen_rider_black_rx_logo_by_mockingraffy_deibyqu_deviantart_resized.png"), linear-gradient(black, darkgreen, black);
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: -1;
    top: 70px;
}

a {
    text-decoration: none !important;
}

body {
    background-color: black;
}

body, #bookmark-button {
    color: white;
}

#card-bookmark {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

#card-play-button {
    visibility: hidden;
    position: absolute;
    color: white;
    top: 160px;
    left: 20px;
}

#card-body {
    background-color: black;
    color: white;
}

.navbar-tab-active, #navbar-tab .nav-item:hover {
    border-bottom: 5px white solid;
}

#navbar-tab a.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#card-body:hover #card-image-container {
    border: 5px white solid;
    transition: border 0.15s ease;
}

#card-body:hover #card-play-button {
    visibility: visible;
    transform: scale(1.2);
    transition: transform 0.15s ease;
}

#card-image {
    height: 200px;
    object-fit: cover;
}

#card-body {
    width: calc((100vw - 200px) / 5);
    height: 500px;
}

/* Override Bootstrap styles */

.mr-auto {
    margin-right: auto !important;
}

.navbar {
    padding: 0.5rem 1rem;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

.form-inline {
    display: flex;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    width: 10% !important;
}

.nav-item.active > .nav-link {
    color: white !important;
}