html {
    overflow-y:scroll; /* fixed scrollbar */
}

#foreground {
    padding-left: 50%;
    padding-right: 10%;
}

body {
    background: url("/images/kamen_rider_black_rx.png"), linear-gradient(black, darkgreen, black, black);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
}

#background {
    background: url("/images/kamen_rider_black_rx_logo_by_mockingraffy_deibyqu_deviantart_resized.png");
    background-repeat: no-repeat;
    background-position: 10% 100px;
    /* Div container */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -5;
}

a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: white;
    opacity: 0.80;
}

.the-dot::before {
    display: inline-block;
    margin: 0 0.5rem 0.2rem;
    content: "";
    font-size: 0.7em; /* h6 */
    padding: 1px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: white;
}

body, #bookmark-button {
    color: white;
}

#card-bookmark {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

#card-play-button {
    position: absolute;
    color: white;
    top: 165px;
    left: 20px;
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

#card-body {
    background-color: transparent;
    color: white;
    transition: transform 0.25s ease;
}

#episodes-tab-nav-item::after,
#suggested-tab-nav-item::after,
#details-tab-nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: white;
    transition: width 0.15s;
}

#episodes-tab-nav-item.navbar-tab-active::after,
#suggested-tab-nav-item.navbar-tab-active::after,
#details-tab-nav-item.navbar-tab-active::after {
    width: 100%;
}

#navbar-tab .nav-item:hover::after {
    width: 100%;
}

#navbar-tab a.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#card-image-container {
    transition: border 0.25s ease;
}

#card-body:hover #card-image-container {
    border: 5px white solid;
}

#suggested-section img {
    width: 18rem;
    height: 13rem;
    object-fit: cover;
    transition: opacity 0.30s ease;
}

#suggested-section .card:hover img {
    opacity: 0.2;
}

#suggested-section .card {
    background-color: transparent;
    border: 1px white solid;
}

.my-card-title {
    width: 18rem;
    height: 13rem;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: white;
    transition: opacity 0.30s ease;
}

#suggested-section .card:hover .my-card-title {
    opacity: 1;
}


#suggested-section .card {
    transition: transform 0.30s ease;
}

#suggested-section .card:hover {
    transform: scale(1.1);
}

#card-body:hover {
    transform: scale(1.1);
}

#card-body:hover #card-play-button {
    opacity: 0.8;
    transform: scale(1.5);
}

#card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

#card-body {
    width: calc((90vw - 200px) / 5);
    height: 500px;
    margin: 10px 20px 10px 20px;
}

.my-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

/* Override Bootstrap/Fontawesome styles */

.fa-star {
    color: #f3ce13; /* IMDb yellow */
}

.mr-auto {
    margin-right: auto !important;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

.form-inline {
    display: flex;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    width: 5% !important;
}

.nav-item.active > .nav-link {
    color: white !important;
}

.card-body {
    padding: 0 !important;
}

.btn:focus {
    box-shadow: none !important;
}